{% load staticfiles %}
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Upande</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/up.css" rel="stylesheet">
  </head>

</head>
<body>
<div class="container">
<div class="col-md-5">
  <div>
    </br>
    </br>
    <p><a href="/api/">Rest API</a></p>
  </div>
  <div class="form-area">
    {{error}}
    {{success}}
    <form method="post" action="/logger/home/">{% csrf_token %}
      <br style="clear:both">
      <h3 style="margin-bottom: 25px; text-align: center;">Device Form</h3>
      <div class="form-group">
	<input type="date" class="form-control" id="date" name="date" placeholder="date" required style=" height: 40px;">
      </div>
      <div class="form-group">
	<input type="text" class="form-control" id="latitude" name="latitude" placeholder="latitude" required style=" height: 40px;">
      </div>
      <div class="form-group">
	<input type="text" class="form-control" id="longitude" name="longitude" placeholder="longitude" required style=" height: 40px;">
      </div>
      <div class="form-group">
	<input type="number" class="form-control" id="sensor_id" name="sensor_id" placeholder="sensor_id" required style=" height: 40px;">
      </div>
      <div class="form-group">
	<input type="number" class="form-control" id="reading" name="reading" placeholder="reading" required style=" height: 40px;">
      </div>
      <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
    </form>
  </div>
  <div class="form-area">
    <h3 style="margin-bottom: 25px; text-align: center;">Chart</h3>
      
    {% load chart_tags %}
    {% chart %}
    http://chart.apis.google.com/chart
    ?chxr=0,0,160
    &chxt=y
    &chbh=a
    &chs=440x220
    &cht=bvs
    &chco=4D89F9
    &chds=0,160
    &chd=t:{{data| join:',' }}
    &chtt=Device+Readings+chart
    {% endchart %}
    <div>
</div>
</div>
</body>
